.message-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.like-dislike-wrapper {
  display: flex;
  align-items: center;
}

.message-like,
.message-dislike {
  margin: 0 10px;
}

.dislike-count,
.like-count {
  margin: auto 0;
}
